<% include ./partials/header %>
<style>
  tr {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
  tr:nth-child(odd) {
    background-color: #f2f2f2;
    width: 50%;
  }
</style>
<div class="container" style="margin-top: 150px;">
  <h1># Block <%= block.index%></h1>
  <br />
  <% var d= new Date(block.timestamp)%>
  <div class="row">
    <div class="col-sm-6">
      <table cellpadding="10" cellspacing="1000">
        <tr>
          <td><b>Summary</b></td>
        </tr>
        <tr>
          <td>Index</td>
          <td><%= block.index%></td>
        </tr>
        <tr>
          <td>TimeStamp</td>
          <td><%= d%></td>
        </tr>

        <tr>
          <td>Difficulty</td>
          <td><%=block.difficulty%></td>
        </tr>
        <tr>
          <td>Nonce</td>
          <td><%=block.nonce%></td>
        </tr>
      </table>
    </div>
    <div class="col-sm-6">
      <table cellpadding="10" cellspacing="15">
        <tr>
          <td><b>Hashes</b></td>
        </tr>
        <tr>
          <td>Hash</td>
          <td><%= block.hash%></td>
        </tr>
        <tr>
          <td>Previous Hash</td>
          <td><%= block.prevHash%></td>
        </tr>
      </table>
    </div>
  </div>
  <br /><br />
  <a href="/" class="btn btn-lg btn-primary" style="width: 100%">Back</a>
</div>
<% include ./partials/footer %>
