<% include ./partials/header %>
<style>
body{
  background: #212529;
}
</style>
<h1 class="block-index"># Block <%= block.index%></h1>
<div class="summary">
  
  <% var d= new Date(block.timestamp)%>
  <br>
  
  <div>
  
      <div class="col1"> 
          <li class="t"><b><u>Index</u></b>: <%= block.index%></li>
          <li class="t"><b><u>TimeStamp</u> </b>: <%= d%></li>
          <li class="t"><b><u>Difficulty</u></b> : <%=block.difficulty%></li>
           <li class="t"><b><u>Nonce</u></b> : <%=block.nonce%></li>
          
                  
        <li class="t"><b><u>Hash</u></b> : <%= block.hash%></li>
        
        
          <li class="t"><b><u>Previous Hash</u></b> : <%= block.prevHash%></li>


      </div>
      </div>
</div>
<% include ./partials/footer %>
